In [41]:
DATA_PATH = 'Project_2_Data.xlsx'

In [42]:
import pandas as pd

In [43]:
df = pd.read_excel(DATA_PATH)

In [44]:
df.head()

,Club,League,Season,Expenditure,Income,Net,Points,Expenditure per Point,Manager,Owner
0,MCI,EPL,2019,-191.52,78.66,-112.86,0,0.0,Guardiola,City_Football
1,MAN,EPL,2019,-181.26,79.23,-102.03,0,0.0,Solsjkaer,Glazer
2,ARS,EPL,2019,-173.74,61.05,-112.69,0,0.0,Emery,Kroenke
3,AVL,EPL,2019,-169.40,0.00,-169.40,0,0.0,Smith,Sawiris
4,EVE,EPL,2019,-136.69,91.77,-44.92,0,0.0,Silva,Moshiri

In [45]:
# choose your target. which column in will you predict? 
# target: 2019 points

#target = df[df['Points'] == 0]

In [46]:
# regression or classification?
# regression

In [47]:
# evaluation metrics: MAE

In [48]:
# split
df['Season'] = pd.to_datetime(df['Season'])

In [80]:
train = df[df['Season'].dt.year < 2018]
val = df[df['Season'].dt.year == 2018]
test = df[df['Points'] == 0]

In [81]:
train.shape, val.shape, test.shape

((380, 10), (0, 10), (20, 10))

In [51]:
# null?
df.isnull().sum().sort_values()

Club                     0
League                   0
Season                   0
Expenditure              0
Income                   0
Net                      0
Points                   0
Expenditure per Point    0
Manager                  0
Owner                    0
dtype: int64

In [52]:
df.nunique()

Club                      41
League                     1
Season                    19
Expenditure              348
Income                   333
Net                      377
Points                    75
Expenditure per Point    357
Manager                  123
Owner                     64
dtype: int64

In [53]:
df.shape

(380, 10)

In [66]:
print(test)

Empty DataFrame
Columns: [Club, League, Season, Expenditure, Income, Net, Points, Expenditure per Point, Manager, Owner]
Index: []